container_commands:
    00_get_arm64:
        command: |
            cd /var/app/current/node_modules/sqlite3/lib/binding
            wget https://github.com/TryGhost/node-sqlite3/releases/download/v5.1.2/napi-v6-linux-glibc-arm64.tar.gz
            tar -zxvf napi-v6-linux-glibc-arm64.tar.gz
        leader_only: true
